<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={ page.url }/>
    <title>{{title}}</title>
    <meta name="author" content="MVSP Working Group">
    <meta name="google-site-verification" content="wbmZhy8vWu5AjaBN9RGEfJ4Z7mP_CgevHxM4FD1bLFA" />
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="mvsp, minimum viable secure product, mvsp security, security baseline">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="MVSP Working Group">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="https://mvsp.dev">
    <meta name="twitter:image" content="/images/logo.svg">
    <meta name="twitter:image:alt" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property=”og:type” content=”website”>
    <meta property="og:image" content="/images/logo.svg">
    <meta property="og:url" content="https://mvsp.dev">
    <meta property="og:image:alt" content="{{title}}">
    <link href="/styles/styles.pcss" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="MVSP">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
</head>
