<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="author" content="">
    <meta name="description"
        content="{{description}}">
    <meta name="keywords" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description"
        content="{{description}}">
    <meta name="og:image" content="">
    <meta name="og:url" content="">
    <meta name="og:image:alt" content="{{title}}">
    <meta name="robots" content="noindex" /> <!-- TODO remove -->
    <link href="~/styles.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="MVSP">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicons/site.webmanifest">
</head>