node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.parcel-cache
.cache
.build

# Eleventy output directory
_site

# Parcel output directory
dist