<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-center text-base font-semibold uppercase text-gray-600 tracking-wider">
      Contributors
    </p>
    <div class="mt-6 grid grid-cols-3 gap-0.5 md:grid-cols-3 lg:mt-8">
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-16 max-w-full block m-auto" src="/images/contributors/salesforce.svg" alt="Salesforce">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/google.svg" alt="Google">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/okta.png" alt="Okta">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/slack.svg" alt="Slack">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/vanta.png" alt="Vanta">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/c2sec.svg" alt="C2SEC">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/boxyhq.svg" alt="BoxyHQ">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-12 max-w-full block m-auto" src="/images/contributors/secureframe.png" alt="Secureframe">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-16 max-w-full block m-auto" src="/images/contributors/reciprocity.png" alt="Reciprocity">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-16 max-w-full block m-auto" src="/images/contributors/securityscorecard.png" alt="SecurityScorecard">
      </div>
      <div class="col-span-1 flex justify-center p-4 md:p-8 bg-gray-50">
        <img class="max-h-16 max-w-full block m-auto" src="/images/contributors/venafi.jpeg" alt="Venafi">
      </div>
    </div>
  </div>
</div>
