<div class="py-12 bg-white">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-3xl font-extrabold text-gray-900">Where is it used?</h2>
  </div>
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <dt>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Requests for proposals</p>
        </dt>
        <dd class="mt-2 text-base text-gray-700">
          Universal baseline for vendor selection simplifies the jobs of the sourcing teams. MVSP is short and concise to be included into RFP documents without bloating them.
        </dd>
      </div>

      <div>
        <dt>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Self-assessments</p>
        </dt>
        <dd class="mt-2 text-base text-gray-700">
          Smaller companies that are not mature enough to afford large compliance efforts such as SOC 2 or PCI DSS use MVSP as the baseline ensuring the security posture of their MVP. 
        </dd>
      </div>

      <div>
        <dt>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Third-party security</p>
        </dt>
        <dd class="mt-2 text-base text-gray-700">
          Larger companies attempting to triage their vendors' security posture incorporate MVSP as their universal questionnaire.
        </dd>
      </div>
    </dl>
  </div>
</div>