@import './src/styles/fonts/roboto-mono.css';
@import './src/styles/fonts/open-sans.css';
@import './src/styles/fonts/noto-serif.css';
@import './src/styles/asciidoctor.pcss';
@tailwind base;
@tailwind components;
@tailwind utilities;